body{
    background-color: bisque;
}
    
h1{
     text-align: center;
}
    
a{
     font-size: 14px;
     margin-right: 30px;
     color: black;
}
    
    figure{
     text-align: center;
     margin: 0;
}
    
    .fondoImagen{
     height: 80%;
}
    
    .flexContainer{
     display: flex;
     background-color: bisque;
     justify-content: space-between;
}
    
    .divIzquierdo{
     width: 60%;
     background-color: bisque;
}
    
.divDerecho{
     width: 30%;
     background-color: bisque;
    
}
    
.flexContainerDos{
     display: flex;
}

div > div > img {
    width: 100px;
    height: 100px;
}

.flexContainerTres{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
